.backdrop {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 100;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}
