@import "../../styles/Colors.scss";

@mixin flexAlignCenter($direction, $alignItems, $justifyContent) {
  display: flex;
  flex-direction: $direction;
  align-items: $alignItems;
  justify-content: $justifyContent;
}
.accountIcon {
  font-size: 2rem;
  display: none;
  cursor: pointer;
}
.nav {
  position: fixed;
  top: 0;
  z-index: 3;
  width: 100%;
  @include flexAlignCenter(row, center, space-between);
  height: 66px;
  padding: 0 16px;
}
.active {
  background-color: $primary-color;
}
.logo {
  cursor: pointer;
  color: $primary-text;
}
.lists {
  @include flexAlignCenter(row, center, none);
  list-style: none;
  color: $primary-text;
}
.list {
  margin-left: 20px;
  font-size: 1.1rem;
  font-weight: 600;
  &:hover {
    color: $secondary-text;
    cursor: pointer;
  }
}

@media screen and (max-width: 992px) {
  .list {
    display: none;
  }
  .hide {
    display: none;
  }
  .accountIcon {
    display: flex;
  }
}
