@import "../../styles/Colors.scss";

.toast {
  position: fixed;
  z-index: 6;
  color: $primary-color;
  font-weight: 700;
  padding: 1rem;
  border-radius: 0.6rem;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  min-width: 200px;
  animation: toastAppear 0.3s ease-in;
  text-align: center;
}

@keyframes toastAppear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
