$primary-text: white;
$primary-color: #0e153a;
$secondary-color: #22d1ee;
$secondary-text: #e2f3f5;
$grey: #5e5e5e;
$third-color: #581b98;
$error: #ff304f;
$success: #14ff84;
$loading-color: #f0f6fa;
