@import "colors.scss";

.header {
  background-color: rgb(66, 109, 66);
  min-height: 450px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.nav {
  position: fixed;
  top: 0;
  z-index: 3;
  width: 100%;
  display: flex;
  height: 66px;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
 
}
.active {
  background-color: $primary-color;
}
.logo {
  color: $primary-text;
}
.lists {
  display: flex;
  align-items: center;
  list-style: none;
  color: $primary-text;
}
.list {
  margin-left: 20px;
  font-size: 1.1rem;
  font-weight: 600;
  &:hover {
    color: $secondary-text;
    cursor: pointer;
  }
}
.headerBox {
  max-width: 600px;
  margin: 0 auto;
  z-index: 1;
  padding: 0 16px;
}
.headerText {
  color: $primary-text;
  font-size: 2rem;
}
.searchBox {
  background-color: $primary-text;
  height: 50px;
  width: 100%;
  border-radius: 10px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.searchInput {
  font-size: 1rem;
  border: none;
  outline: none;
  width: 100%;
  color: $grey;
}
.background {
  object-fit: cover;
}
.icon {
  color: $grey !important;
  cursor: pointer;
}
.imgIcon{
  color: $primary-text ;
  cursor: pointer;
  margin: 0 0.5em;
  font-size: 1.2rem;
  &:hover{
    color: $secondary-text;
  }
}
/*body*/
.body {
  padding: 0 16px;
}
.images {
  position: relative;
  column-count: 3;
  column-gap: 16px;
}
.imageBox{
  display: inline-block;
  margin-bottom: 12px;
  position: relative;
  &:hover{
    cursor: pointer;
    .imageActions{
      display: flex;
      background: linear-gradient(90deg, rgba($color: #000000, $alpha: 0.2), rgba($color: #ffffff, $alpha: 0));
    }
  }
}
.img{
  width: 100%;
}
.imageActions{
  position: absolute;
  bottom: 0;
  display: none;
  justify-content: flex-end;
  width: 100%;
  padding: 8px;
  transition: 0.5 all ease;
  margin-bottom: 8px;
}
