@import "colors.scss";

@mixin flexAlignCenter($direction, $alignItems, $justifyContent) {
  display: flex;
  flex-direction: $direction;
  align-items: $alignItems;
  justify-content: $justifyContent;
}

.header {
  background-color: $primary-color;
  min-height: 450px;
  position: relative;
  @include flexAlignCenter(column, auto, center);
}

.headerBox {
  max-width: 600px;
  margin: 0 auto;
  z-index: 1;
  padding: 0 16px;
}
.headerText {
  color: $primary-text;
  font-size: 2rem;
}
.searchBox {
  background-color: $primary-text;
  height: 50px;
  width: 100%;
  border-radius: 10px;
  padding: 0 10px;
  @include flexAlignCenter(row, center, space-between);
}
.searchInput {
  font-size: 1rem;
  border: none;
  outline: none;
  width: 100%;
  color: $grey;
}
.background {
  object-fit: cover;
}
.icon {
  color: $grey !important;
  cursor: pointer;
}

.imgIcon {
  color: $primary-text;
  cursor: pointer;
  margin: 0 0.5em;
  font-size: 1.2rem;
  &:hover {
    color: $secondary-text;
  }
}
/*body*/
.body {
  padding: 0 16px;
}
.images {
  position: relative;
  column-count: 3;
  column-gap: 16px;
}
.imageBox {
  display: inline-block;
  margin-bottom: 12px;
  position: relative;
  background-color: $loading-color;
  font-size: 0;
  &:hover {
    cursor: pointer;
    .imageActions {
      display: flex;
    }
  }
}
.img {
  width: 100% !important;
}
.imageActions {
  position: absolute;
  bottom: 0;
  display: none;
  justify-content: flex-end;
  width: 100%;
  padding: 8px;
  transition: 0.5 all ease;
  margin-bottom: 8px;
}

@media screen and (max-width: 992px) {
  .images {
    column-count: 2;
    column-gap: 11px;
  }
  .imageBox {
    margin-bottom: 6px;
  }
}
