@import "colors.scss";
@mixin flexAlignCenter($direction, $alignItems, $justifyContent) {
  display: flex;
  flex-direction: $direction;
  align-items: $alignItems;
  justify-content: $justifyContent;
}

.nav {
  position: fixed;
  top: 0;
  z-index: 3;
  width: 100%;
  @include flexAlignCenter(row, center, space-between);
  height: 66px;
  padding: 0 16px;
}
.active {
  background-color: $primary-color;
}
.logo {
  color: $primary-text;
}
.lists {
  @include flexAlignCenter(row, center, none);
  list-style: none;
  color: $primary-text;
}
.list {
  margin-left: 20px;
  font-size: 1.1rem;
  font-weight: 600;
  &:hover {
    color: $secondary-text;
    cursor: pointer;
  }
}
