@import "./Colors.scss";
.body {
  min-height: 700px;
}
.createImage {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form {
  margin-top: 100px;
  display: flex;
  width: 400px;
  flex-direction: column;
  box-shadow: 0 0 10px $primary-color;
  border-radius: 1rem;
  padding: 1rem;
}
.displaynone {
  display: none;
}
.imageInput {
  display: flex;
  align-items: center;
}
.mt20 {
  margin-top: 20px;
}
.imageIcon {
  font-size: 2rem;
  cursor: pointer;
}
.imageText {
  font-size: 0.9rem;
  margin-left: 0.5rem;
  text-overflow: ellipsis;
  cursor: pointer;
  max-width: 200px;
  overflow: hidden;
  white-space: nowrap;
}
.tagsInput {
  outline: none;
  border: 2px solid $primary-color;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.tags {
  margin-bottom: 0.5rem;
}
.icon {
  font-size: 1.2rem;
  margin: 0 0.5rem;
}
.backButton {
  width: 400px;
  background-color: $secondary-color;
  display: flex;
  align-items: center;
  justify-content: center;
}
.title {
  font-weight: 600;
}

.gallery {
  margin: 20px 0;
  width: 100%;
  column-count: 3;
}

.loading {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.deleteBtn {
  display: none;
  position: absolute;
  width: 30px;
  height: 30px;
  bottom: 0;
  justify-content: center;
  align-items: center;
  right: 0;
  background-color: $primary-color;
  border-radius: 50%;
  border: 2px solid $error;
  margin: 16px;
  &:hover {
    background-color: $error;
    border: 2px solid $primary-color;
    .trashIcon {
      color: $primary-color;
    }
  }
}
.imageBox {
  font-size: 0;
  padding: 0;
  margin-bottom: 16px;
  background-color: $loading-color;
  position: relative;
  height: max-content;
  &:hover {
    cursor: pointer;
    .deleteBtn {
      display: flex;
    }
  }
}
.trashIcon {
  font-size: 1.2rem;
  color: $error;
}
@media screen and (max-width: 992px) {
  .imageBox {
    margin-bottom: 8px;
  }
  .gallery {
    column-count: 2;
    column-gap: 8px;
  }
}
@media screen and (max-width: 500px) {
  .createImage {
    width: 100%;
  }
  .form {
    width: 100%;
  }
  .backButton {
    width: 100%;
  }
  .gallery {
    column-count: 1;
  }
}
