@import "./Colors.scss";
.body {
  min-height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form {
  margin-top: 100px;
  display: flex;
  width: 400px;
  flex-direction: column;
  box-shadow: 0 0 10px $primary-color;
  border-radius: 1rem;
  padding: 1rem;
}
.displaynone {
  display: none;
}
.imageInput {
  display: flex;
  align-items: center;
}
.mt20 {
  margin-top: 20px;
}
.imageIcon {
  font-size: 2rem;
  cursor: pointer;
}
.imageText {
  font-size: 0.9rem;
  margin-left: 0.5rem;
  text-overflow: ellipsis;
  cursor: pointer;
  max-width: 200px;
  overflow: hidden;
  white-space: nowrap;
}
.tagsInput {
  outline: none;
  border: 2px solid $primary-color;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.tags {
  margin-bottom: 0.5rem;
}
.icon {
  font-size: 1.2rem;
  margin: 0 0.5rem;
}
.backButton {
  width: 400px;
  background-color: $secondary-color;
  display: flex;
  align-items: center;
  justify-content: center;
}
.title {
  font-weight: 600;
}

.gallery {
  margin: 20px;
  padding: 36px;
  width: 100%;
  display: grid;
  justify-content: center;
  grid-gap: 0.5rem;
  grid-template-columns: 25% 25% 25% 25%;
  margin-bottom: 50px;
}
.btnDelete {
  display: none;
}
.loading {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.imageBox {
  font-size: 0;
  padding: 0;
  background-color: $loading-color;
  position: relative;
  height: calc(25vw);
  &:hover {
    cursor: pointer;
    .btnDelete {
      background-color: $error;
      display: flex;
      position: absolute;
      bottom: 0;
      color: $primary-text;
      padding: 0.5rem;
      border-radius: 0;
      align-items: center;
    }
  }
}
.trashIcon {
  font-size: 1.2rem;
  margin-right: 0.5rem;
}
@media screen and (max-width: 992px) {
  .body {
    margin: 0 1rem;
  }
  .imageBox {
    height: calc(40vw);
  }
  .gallery {
    grid-template-columns: 33% 33% 33%;
  }
}
@media screen and (max-width: 500px) {
  .createImage {
    width: 100%;
  }
  .form {
    width: 100%;
  }
  .backButton {
    width: 100%;
  }
  .body {
    margin: 0 1rem;
  }
  .gallery {
    grid-template-columns: 50% 50%;
    padding: 0.3rem;
  }
}
